In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset = pd.read_csv('train.csv')
dataset = dataset.drop(columns=['Name', 'PassengerId', 'Ticket'])

dataset.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Cabin Embarked
0         0       3    male  22.0      1      0   7.2500   NaN        S
1         1       1  female  38.0      1      0  71.2833   C85        C
2         1       3  female  26.0      0      0   7.9250   NaN        S
3         1       1  female  35.0      1      0  53.1000  C123        S
4         0       3    male  35.0      0      0   8.0500   NaN        S

In [3]:
i = 0
for row in dataset.iloc[:,7]:
    row = str(row)    
    if row == 'nan' or row[0] == 'n':
        cabins = 0
    else:
        cabins = row.count(' ') + 1
    dataset.iat[i, 7] = cabins
    i += 1

In [4]:
C = 0
S = 0
Q = 0
for row in dataset.iloc[:, 8]:
    row = str(row)
    if row == 'C':
        C += 1
    elif row  == 'S':
        S += 1
    elif row == 'Q':
        Q += 1

In [5]:
i = 0
for row in dataset.iloc[:,8]:
    row = str(row)
    if row == 'nan':
        dataset.iat[i, 8] = 'S' # S is most frequent
    i += 1

In [6]:
embarked_dict = {"Embarked": {"S": 0, "C": 1, "Q": 2}}
dataset.replace(embarked_dict, inplace = True)

In [7]:
dataset['TotFamSize'] = dataset['Parch'] + dataset['SibSp']

dataset.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked,TotFamSize
0,0,3,male,22.0,1,0,7.2500,0,0,1
1,1,1,female,38.0,1,0,71.2833,1,1,1
2,1,3,female,26.0,0,0,7.9250,0,0,0
3,1,1,female,35.0,1,0,53.1000,1,0,1
4,0,3,male,35.0,0,0,8.0500,0,0,0

In [8]:
X = dataset.iloc[:, 1:].values
y = dataset.iloc[:, 0].values

print (X.shape)
print (y.shape)

(891, 9)
(891,)

In [9]:
from sklearn.preprocessing import Imputer
imputer = Imputer(missing_values = 'NaN', strategy = 'median', axis = 0)
imputer = imputer.fit(X[:, 2:3])
X[:, 2:3] = imputer.transform(X[:, 2:3])

C:\Users\Zach Barrett\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [10]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_X = LabelEncoder()
X[:, 1] = labelencoder_X.fit_transform(X[:, 1])

In [11]:
print (X.shape)

(891, 9)

In [12]:
onehotencoder = OneHotEncoder(categorical_features = [7])
X = onehotencoder.fit_transform(X).toarray()

C:\Users\Zach Barrett\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:371: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
C:\Users\Zach Barrett\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:392: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [14]:
print (X.shape)

(891, 11)

In [15]:
# Dummy variable trap
X = np.delete(X, obj = 0, axis = 1)

print (X.shape)

(891, 10)

In [36]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25)

In [37]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [38]:
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
import xgboost as xgb

classifier = xgb.XGBClassifier()
# classifier = RandomForestClassifier(n_estimators = 20, max_depth = 10, criterion = 'entropy', bootstrap = False)
# classifier = SVC(kernel = 'rbf', gamma = 0.01, C = 100)

classifier.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bynode=1, colsample_bytree=1, gamma=0, learning_rate=0.1,
       max_delta_step=0, max_depth=3, min_child_weight=1, missing=None,
       n_estimators=100, n_jobs=1, nthread=None,
       objective='binary:logistic', random_state=0, reg_alpha=0,
       reg_lambda=1, scale_pos_weight=1, seed=None, silent=None,
       subsample=1, verbosity=1)

In [39]:
y_pred = classifier.predict(X_test)

In [40]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

cm

array([[119,  17],
       [ 24,  63]], dtype=int64)

In [41]:
from sklearn.model_selection import cross_val_score
accuracies = cross_val_score(estimator = classifier, X = X_train, y = y_train, cv = 10)
accuracies.mean()

0.8294436906377205

In [42]:
accuracies.std()

0.04184580057687378

In [ ]:
from sklearn.model_selection import GridSearchCV
parameters = [{'max_depth': [5, 10, 25, 50, None], 'n_estimators': [15, 20, 25, 30], 'bootstrap': [True, False]}]
grid_search = GridSearchCV(estimator = classifier,
                          param_grid = parameters,
                          scoring = 'accuracy',
                          cv = 10,
                          n_jobs = -1)
grid_search = grid_search.fit(X_train, y_train)
best_accuracy = grid_search.best_score_
best_parameters = grid_search.best_params_

In [ ]:
from sklearn.metrics import mean_squared_error
rms = np.sqrt(mean_squared_error(y_test, y_pred))
print ("RMS error:" rms)

In [ ]:
# Test data

In [43]:
dataset_submission = pd.read_csv('test.csv')
dataset_submission = dataset_submission.drop(columns=['Name', 'Ticket'])

dataset_submission.shape

(418, 9)

In [44]:
i = 0
for row in dataset_submission.iloc[:,7]:
    row = str(row)
    if row == 'nan':
        cabins = 0
    else:
        cabins = row.count(' ') + 1
    dataset_submission.iat[i, 7] = cabins
    i += 1

In [45]:
C = 0
S = 0
Q = 0
for row in dataset_submission.iloc[:, 8]:
    row = str(row)
    if row == 'C':
        C += 1
    elif row  == 'S':
        S += 1
    elif row == 'Q':
        Q += 1

In [46]:
i = 0
for row in dataset_submission.iloc[:,8]:
    row = str(row)
    if row == 'nan':
        dataset_subission.iat[i, 8] = 'S' # S is most frequent
    i += 1

In [47]:
embarked_dict = {"Embarked": {"S": 0, "C": 1, "Q": 2}}
dataset_submission.replace(embarked_dict, inplace = True)

In [48]:
dataset_submission['TotFamSize'] = dataset_submission['Parch'] + dataset_submission['SibSp']

dataset_submission.head()

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked,TotFamSize
0,892,3,male,34.5,0,0,7.8292,0,2,0
1,893,3,female,47.0,1,0,7.0000,0,0,1
2,894,2,male,62.0,0,0,9.6875,0,2,0
3,895,3,male,27.0,0,0,8.6625,0,0,0
4,896,3,female,22.0,1,1,12.2875,0,0,2

In [49]:
X_submission = dataset_submission.iloc[:, 1:].values

In [50]:
from sklearn.preprocessing import Imputer

imputer = Imputer(missing_values = 'NaN', strategy = 'median', axis = 0)

imputer = imputer.fit(X_submission[:, 2:3])
X_submission[:, 2:3] = imputer.transform(X_submission[:, 2:3]) # needs to be vector but just does 2
imputer = imputer.fit(X_submission[:, 5:6])
X_submission[:, 5:6] = imputer.transform(X_submission[:, 5:6])

C:\Users\Zach Barrett\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [51]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_X = LabelEncoder()
X_submission[:, 1] = labelencoder_X.fit_transform(X_submission[:, 1])

In [52]:
print (X_submission.shape)

for i in range(X_submission.shape[1]):
    print (X_submission[:, i])

(418, 9)
[3 3 2 3 3 3 3 2 3 3 3 1 1 2 1 2 2 3 3 3 1 3 1 1 1 3 1 3 1 3 2 2 3 3 1 3 3
 3 3 3 3 1 3 2 1 3 1 3 1 3 1 2 2 1 2 3 3 3 3 1 3 2 3 3 1 2 3 1 1 1 3 3 3 1
 1 1 3 1 2 3 3 1 1 3 2 3 3 3 3 2 3 3 1 3 1 3 1 3 3 3 1 2 3 3 3 3 3 3 3 2 2
 3 1 3 1 3 3 3 1 2 2 3 1 3 3 3 3 3 2 3 3 1 3 3 3 3 3 2 3 3 3 1 1 2 1 3 1 3
 1 2 1 3 3 3 3 3 1 3 1 3 3 3 2 3 2 3 1 3 1 3 3 3 3 3 3 2 2 1 2 1 2 1 1 3 1
 2 2 3 3 2 2 1 3 2 2 3 1 3 2 3 3 3 1 2 2 1 3 2 1 3 3 3 2 2 3 1 3 1 1 3 2 3
 2 3 1 3 3 3 3 2 2 1 3 3 1 3 1 3 2 1 1 2 1 3 3 1 2 2 2 3 2 3 1 3 3 3 3 3 2
 3 3 3 2 3 2 3 1 3 3 3 1 3 1 3 3 2 2 2 2 2 3 3 3 3 3 3 3 1 3 3 1 3 3 1 3 3
 2 3 1 3 3 2 2 3 3 1 1 3 1 3 3 3 3 3 1 3 1 2 3 2 3 3 2 1 1 3 2 1 2 2 2 1 3
 3 3 1 2 3 2 3 2 3 3 1 3 3 2 3 2 2 1 2 2 2 3 1 1 3 3 3 3 2 2 3 1 3 3 3 1 2
 2 1 1 2 1 1 3 2 1 3 3 3 3 3 2 2 3 2 3 3 1 1 3 2 3 1 3 1 3 3 1 2 1 1 1 2 2
 1 3 3 3 1 3 3 1 3 3 3]
[1 0 1 1 0 1 0 1 0 1 1 1 0 1 0 0 1 1 0 0 1 1 0 1 0 1 0 1 1 1 1 1 0 0 1 1 0
 0 1 1 1 1 1 0 0 1 1 1 0 0 1 1 0 0 1 1 1 1 1 0 1 1 1 0 1 0 0 1 1 0 0 1 0 1
 0 1 1 0 1 0 1 1 1 1 1 1 0 0 0 1 0 1 0 1 1 1 0 1 0 1 0 1 1 1 0 1 1 1 1 1 1
 0 0 0 0 1 1 0 1 0 0 1 0 1 1 0 1 0 1 1 1 1 0 1 1 1 1 1 0 1 0 0 1 1 1 1 1 1
 1 1 0 1 1 0 1 1 0 0 1 0 0 1 0 1 1 0 1 1 0 0 1 1 1 1 1 0 0 1 0 0 1 1 0 1 0
 1 0 1 0 1 1 1 1 1 1 1 1 0 1 0 0 1 1 0 1 1 0 1 0 1 1 1 1 0 0 1 0 1 0 1 0 1
 0 1 0 0 1 0 1 1 1 0 1 1 1 1 1 1 0 0 0 0 1 1 1 1 0 1 0 0 0 1 1 1 1 1 1 1 0
 1 1 1 0 0 1 1 1 1 0 1 1 1 0 0 1 0 1 1 1 1 0 1 0 0 0 1 1 1 1 1 1 0 1 1 1 1
 0 1 1 1 1 1 1 1 0 0 1 1 1 0 1 1 1 0 0 0 1 1 1 1 1 1 1 1 0 1 0 1 1 1 0 1 1
 0 1 1 1 1 1 1 1 1 1 0 1 0 1 0 1 0 0 1 1 1 0 1 0 1 1 0 1 0 0 1 0 0 1 0 0 1
 1 0 1 1 0 0 0 1 1 1 1 1 0 0 1 0 1 1 1 1 1 0 1 1 1 0 1 0 1 1 0 1 0 1 1 1 1
 1 0 0 0 0 0 1 0 1 1 1]
[34.5 47.0 62.0 27.0 22.0 14.0 30.0 26.0 18.0 21.0 27.0 46.0 23.0 63.0
 47.0 24.0 35.0 21.0 27.0 45.0 55.0 9.0 27.0 21.0 48.0 50.0 22.0 22.5 41.0
 27.0 50.0 24.0 33.0 27.0 30.0 18.5 27.0 21.0 25.0 27.0 39.0 27.0 41.0
 30.0 45.0 25.0 45.0 27.0 60.0 36.0 24.0 27.0 20.0 28.0 27.0 10.0 35.0
 25.0 27.0 36.0 17.0 32.0 18.0 22.0 13.0 27.0 18.0 47.0 31.0 60.0 24.0
 21.0 29.0 28.5 35.0 32.5 27.0 55.0 30.0 24.0 6.0 67.0 49.0 27.0 27.0 27.0
 27.0 18.0 27.0 2.0 22.0 27.0 27.0 27.0 25.0 25.0 76.0 29.0 20.0 33.0 43.0
 27.0 27.0 26.0 16.0 28.0 21.0 27.0 27.0 18.5 41.0 27.0 36.0 18.5 63.0
 18.0 27.0 1.0 36.0 29.0 12.0 27.0 35.0 28.0 27.0 17.0 22.0 27.0 42.0 24.0
 32.0 53.0 27.0 27.0 43.0 24.0 26.5 26.0 23.0 40.0 10.0 33.0 61.0 28.0
 42.0 31.0 27.0 22.0 27.0 30.0 23.0 27.0 60.5 36.0 13.0 24.0 29.0 23.0
 42.0 26.0 27.0 7.0 26.0 27.0 41.0 26.0 48.0 18.0 27.0 22.0 27.0 27.0 23.0
 27.0 40.0 15.0 20.0 54.0 36.0 64.0 30.0 37.0 18.0 27.0 27.0 40.0 21.0
 17.0 27.0 40.0 34.0 27.0 11.5 61.0 8.0 33.0 6.0 18.0 23.0 27.0 27.0 0.33
 47.0 8.0 25.0 27.0 35.0 24.0 33.0 25.0 32.0 27.0 17.0 60.0 38.0 42.0 27.0
 57.0 50.0 27.0 30.0 21.0 22.0 21.0 53.0 27.0 23.0 27.0 40.5 36.0 14.0
 21.0 21.0 27.0 39.0 20.0 64.0 20.0 18.0 48.0 55.0 45.0 45.0 27.0 27.0
 41.0 22.0 42.0 29.0 27.0 0.92 20.0 27.0 24.0 32.5 27.0 27.0 28.0 19.0
 21.0 36.5 21.0 29.0 1.0 30.0 27.0 27.0 27.0 27.0 17.0 46.0 27.0 26.0 27.0
 27.0 20.0 28.0 40.0 30.0 22.0 23.0 0.75 27.0 9.0 2.0 36.0 27.0 24.0 27.0
 27.0 27.0 30.0 27.0 53.0 36.0 26.0 1.0 27.0 30.0 29.0 32.0 27.0 43.0 24.0
 27.0 64.0 30.0 0.83 55.0 45.0 18.0 22.0 27.0 37.0 55.0 17.0 57.0 19.0
 27.0 22.0 26.0 25.0 26.0 33.0 39.0 23.0 12.0 46.0 29.0 21.0 48.0 39.0
 27.0 19.0 27.0 30.0 32.0 39.0 25.0 27.0 18.0 32.0 27.0 58.0 27.0 16.0
 26.0 38.0 24.0 31.0 45.0 25.0 18.0 49.0 0.17 50.0 59.0 27.0 27.0 30.0
 14.5 24.0 31.0 27.0 25.0 27.0 27.0 22.0 45.0 29.0 21.0 31.0 49.0 44.0
 54.0 45.0 22.0 21.0 55.0 5.0 27.0 26.0 27.0 19.0 27.0 24.0 24.0 57.0 21.0
 6.0 23.0 51.0 13.0 47.0 29.0 18.0 24.0 48.0 22.0 31.0 30.0 38.0 22.0 17.0
 43.0 20.0 23.0 50.0 27.0 3.0 27.0 37.0 28.0 27.0 39.0 38.5 27.0 27.0]
[0 1 0 0 1 0 0 1 0 2 0 0 1 1 1 1 0 0 1 0 1 0 0 0 1 1 0 0 0 2 1 2 1 1 1 0 0
 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 2 3 0 4 0 0 1 0 0 0 0 0 2 0 0 0 0 1 0 0 0 0
 0 0 0 2 0 0 1 1 0 0 0 1 0 0 0 1 1 0 1 0 0 0 1 0 0 0 1 1 0 0 1 0 0 0 0 0 0
 0 0 0 1 1 0 1 0 1 0 1 1 0 0 0 0 2 0 0 0 0 0 1 0 0 0 0 0 1 5 0 1 0 0 3 0 0
 0 1 0 0 0 0 4 0 0 0 0 0 0 1 0 0 0 1 0 2 0 0 0 0 1 0 1 0 0 1 0 0 0 1 1 0 1
 0 0 2 8 0 1 0 1 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 1 4 0 0 1 1 0 1 0
 0 0 0 0 0 0 0 0 0 0 1 0 1 0 1 0 1 1 0 0 1 0 1 1 0 1 1 1 1 0 1 0 0 0 0 0 0
 0 1 0 0 1 0 0 0 0 0 0 0 0 1 1 0 1 0 1 1 0 0 1 0 1 1 0 0 1 0 0 0 0 0 1 0 0
 1 2 0 0 0 0 0 0 0 1 1 0 1 1 0 0 0 0 0 0 1 0 0 2 0 0 0 0 0 0 2 0 1 0 0 0 0
 1 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 1 1 0 2 0 0 1 8 1 0 0 1 1 1 0 0 0
 1 0 0 0 1 0 2 0 0 4 0 0 0 1 0 1 0 0 0 3 0 0 0 0 3 1 0 1 0 0 0 1 0 0 1 0 1
 1 0 1 0 1 0 0 0 0 0 1]
[0 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 3 0 1 0 0 0 0 0 2 2 0 0 0
 0 0 0 1 0 0 0 0 0 0 0 0 2 0 0 1 2 0 1 0 0 0 0 0 0 0 0 2 0 0 0 0 4 0 0 0 0
 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0 0 2 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0
 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 4 0 0 0 0 0 0 6 2 0 3 0 0 0 0 0
 0 1 1 0 0 2 2 0 0 0 0 2 0 1 0 0 0 1 0 2 0 0 0 0 0 0 5 2 0 0 3 2 0 1 0 0 1
 0 1 0 2 0 0 0 1 0 2 0 2 0 0 0 0 2 0 1 0 0 0 0 0 0 0 0 0 0 2 0 0 1 1 0 0 0
 0 0 0 2 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 2 1 0 2 0 0 1 0 0 2 0 0 0 0 0 0 0 0
 0 0 0 2 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 1 0 0 0 0 0 0 0 0 1 0 0
 2 0 0 0 0 0 1 0 0 1 2 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 2 0 0
 1 0 0 0 2 0 0 0 0 9 1 1 0 0 0 0 0 1 0 0 2 2 0 0 0 0 0 2 1 0 0 0 9 0 0 1 0
 0 0 0 0 1 0 0 0 0 2 0 0 0 0 0 2 0 0 0 1 0 1 2 0 1 0 0 1 0 0 0 0 1 0 0 0 0
 1 0 1 0 0 0 0 0 0 0 1]
[7.8292 7.0 9.6875 8.6625 12.2875 9.225 7.6292 29.0 7.2292 24.15 7.8958
 26.0 82.2667 26.0 61.175 27.7208 12.35 7.225 7.925 7.225 59.4 3.1708
 31.6833 61.3792 262.375 14.5 61.9792 7.225 30.5 21.6792 26.0 31.5 20.575
 23.45 57.75 7.2292 8.05 8.6625 9.5 56.4958 13.4167 26.55 7.85 13.0
 52.5542 7.925 29.7 7.75 76.2917 15.9 60.0 15.0333 23.0 263.0 15.5792
 29.125 7.8958 7.65 16.1 262.375 7.8958 13.5 7.75 7.725 262.375 21.0
 7.8792 42.4 28.5375 263.0 7.75 7.8958 7.925 27.7208 211.5 211.5 8.05 25.7
 13.0 7.75 15.2458 221.7792 26.0 7.8958 10.7083 14.4542 7.8792 8.05 7.75
 23.0 13.9 7.775 52.0 8.05 26.0 7.7958 78.85 7.925 7.8542 8.05 55.4417
 26.0 7.75 7.775 8.5167 22.525 7.8208 7.75 8.7125 13.0 15.0458 7.7792
 31.6792 7.2833 221.7792 14.4542 6.4375 16.7 75.2417 26.0 15.75 7.75 57.75
 7.25 7.75 16.1 7.7958 23.25 13.0 8.05 8.05 28.5 25.4667 6.4375 7.8958
 7.8542 7.225 13.0 8.05 46.9 46.9 151.55 262.375 26.0 26.55 18.0 51.8625
 8.05 26.55 26.0 83.1583 7.8958 14.4542 12.1833 31.3875 7.55 221.7792
 7.8542 26.55 13.775 7.7333 15.2458 13.5 7.0 13.0 22.025 50.4958 34.375
 27.7208 8.9625 7.55 7.225 13.9 7.2292 31.3875 39.0 36.75 55.4417 39.0
 83.1583 13.0 83.1583 53.1 7.75 247.5208 16.0 21.0 8.05 69.55 13.0 26.0
 26.0 14.5 12.35 32.5 7.8542 134.5 7.775 10.5 8.1125 15.5 14.4 227.525
 26.0 10.5 25.7417 7.75 10.5 27.7208 7.8958 22.525 7.05 73.5 26.0 7.775
 42.5 7.8792 164.8667 211.5 8.05 13.8583 8.05 10.5 7.7958 27.4458 15.2458
 7.7958 7.75 15.1 13.0 65.0 26.55 6.4958 7.8792 71.2833 7.8542 75.25 7.225
 13.0 106.425 27.7208 30.0 134.5 7.8875 23.45 51.8625 21.0 32.5 26.0
 14.4542 27.75 7.925 136.7792 9.325 9.5 7.55 7.75 8.05 13.0 7.775 17.4
 7.8542 23.0 12.1833 12.7375 7.8958 0.0 7.55 8.05 8.6625 75.2417 7.75
 136.7792 15.5 7.225 26.0 10.5 26.0 21.0 10.5 8.6625 13.775 7.75 15.2458
 20.2125 7.25 7.25 82.2667 7.2292 8.05 39.6 6.95 7.2292 81.8583 9.5 7.8958
 41.5792 21.6792 45.5 7.8542 7.775 15.0458 21.0 8.6625 7.75 26.55 151.55
 9.35 93.5 14.1083 8.6625 7.225 7.575 7.75 135.6333 7.7333 146.5208 10.5
 7.8542 31.5 7.775 7.2292 13.0 26.55 211.3375 7.05 39.0 79.2 26.0 13.0
 36.75 29.7 7.225 15.7417 7.8958 26.0 13.0 7.2292 31.5 7.2292 10.5 7.5792
 69.55 512.3292 14.5 7.65 13.0 7.2292 13.5 21.0 63.3583 10.5 73.5 65.0
 20.575 26.0 51.4792 7.8792 7.75 15.55 69.55 37.0042 21.0 8.6625 55.4417
 69.55 14.4583 39.6875 59.4 13.8583 11.5 134.5 0.0 13.0 81.8583 262.375
 8.6625 11.5 50.0 31.3875 7.75 7.8792 14.5 16.1 12.875 65.0 7.775 13.0
 7.75 21.075 93.5 39.4 20.25 10.5 22.025 60.0 7.25 79.2 7.775 7.7333
 164.8667 21.0 59.4 47.1 27.7208 13.8625 10.5 211.5 7.7208 13.775 7.75
 90.0 7.775 8.05 108.9 7.25 8.05 22.3583]
[0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 4 0 1 0 1 0 0 0 0 0 1 0 0
 0 0 0 0 1 0 0 1 0 1 0 1 0 1 0 0 3 0 0 0 2 0 1 0 0 0 0 4 0 0 0 1 3 0 0 0 1
 1 1 0 1 0 0 0 2 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 1 0
 0 1 0 2 0 0 1 1 0 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 4 0 0 0 1 0
 0 0 1 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 1 1 0 1 1 0 2
 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 2 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0 1 0 0 0
 1 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 1 0 0 1 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 2 0 0 0 0 1 0 0
 0 0 0 0 0 1 0 0 0 1 2 0 1 0 0 0 0 0 1 0 1 0 0 0 0 2 1 0 0 0 1 0 0 0 0 1 0
 0 0 1 0 0 0 0 0 0 0 3 0 0 0 0 0 0 2 0 0 0 0 1 1 0 0 0 0 0 0 0 1 0 0 0 0 0
 0 2 3 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 1 0 1 0 0 1 0 0 0 1 1 0
 1 0 0 0 1 0 0 1 0 0 0]
[2 0 2 0 0 0 2 0 1 0 0 0 0 0 0 1 2 1 0 1 1 0 0 1 1 0 1 1 0 1 0 0 0 0 1 1 0
 0 0 0 1 0 0 0 0 0 1 2 1 0 0 1 0 0 1 2 0 0 0 1 0 0 0 2 1 0 2 0 1 0 2 0 0 1
 1 1 0 0 0 2 1 0 0 0 2 1 2 0 2 0 0 0 0 0 1 0 0 0 0 0 1 0 2 0 1 0 2 2 0 0 1
 2 1 2 0 1 1 0 1 0 0 2 1 0 2 0 0 2 0 0 0 1 0 1 0 0 1 0 0 0 0 0 1 0 0 0 0 0
 0 0 1 1 0 0 0 0 0 0 0 0 2 1 0 0 0 0 1 0 1 0 0 1 0 1 0 0 0 1 0 1 0 1 0 2 1
 0 0 0 0 0 0 0 0 2 0 0 1 0 0 0 2 0 1 0 0 1 2 0 1 0 0 0 0 0 0 0 2 0 1 0 1 0
 0 0 1 1 0 2 0 0 0 0 0 2 1 0 1 1 0 1 1 0 1 0 0 0 0 0 0 1 0 0 1 0 0 0 2 0 0
 0 0 0 0 0 1 0 0 0 0 0 1 2 1 2 1 0 0 0 0 0 0 0 2 1 0 0 0 0 1 0 0 2 1 0 0 0
 1 1 0 0 0 1 0 0 2 0 0 0 0 0 0 1 0 2 1 2 1 0 0 0 0 1 0 0 0 0 0 1 0 0 0 1 1
 1 0 0 0 1 0 1 0 0 0 1 0 0 0 1 0 0 1 0 0 0 0 0 0 0 2 0 0 1 0 0 1 0 1 0 1 1
 0 1 0 0 0 1 0 0 0 0 2 2 0 0 0 0 0 0 2 0 0 0 0 0 0 0 2 1 0 2 0 0 1 0 1 1 0
 1 2 0 2 2 0 0 1 0 0 1]
[0 1 0 0 2 0 0 2 0 2 0 0 1 1 1 1 0 0 1 0 1 1 0 1 4 1 1 0 0 2 1 2 3 3 1 0 0
 0 0 0 1 0 0 0 1 0 0 0 0 2 1 0 3 5 0 5 0 0 1 0 0 0 0 0 4 0 0 0 0 5 0 0 0 0
 0 0 0 2 0 0 2 1 0 0 0 1 0 0 0 2 1 0 3 0 0 0 1 0 0 0 1 1 0 0 2 0 0 0 0 0 0
 0 0 0 1 1 0 2 0 1 0 1 1 0 0 1 0 2 0 0 0 0 4 1 0 0 0 0 0 7 7 0 4 0 0 3 0 0
 0 2 1 0 0 2 6 0 0 0 0 2 0 2 0 0 0 2 0 4 0 0 0 0 1 0 6 2 0 1 3 2 0 2 1 0 2
 0 1 2 10 0 1 0 2 0 2 0 2 0 0 0 0 2 1 2 0 0 0 0 0 0 0 0 0 1 6 0 0 2 2 0 1
 0 0 0 0 2 0 0 0 0 0 0 1 0 1 0 1 0 2 1 0 2 2 0 3 1 0 2 1 1 3 0 1 0 0 0 0 0
 0 0 1 0 2 2 0 0 0 0 0 0 0 0 1 1 0 1 0 1 1 0 0 2 0 2 2 0 0 1 0 0 0 0 0 2 0
 0 3 2 0 0 0 0 1 0 0 2 3 1 2 1 0 0 0 0 0 0 1 0 0 2 0 0 0 0 0 0 3 0 1 0 2 0
 0 2 0 0 0 2 0 0 0 0 10 1 2 0 0 0 0 0 1 0 0 3 3 0 2 0 0 1 10 2 0 0 1 10 1
 0 1 0 1 0 0 0 2 0 2 0 0 6 0 0 0 1 0 3 0 0 0 4 0 1 2 0 4 1 0 2 0 0 0 1 1 0
 1 0 1 2 0 2 0 1 0 0 0 0 0 2]

In [53]:
onehotencoder = OneHotEncoder(categorical_features = [7])
X_submission = onehotencoder.fit_transform(X_submission).toarray()

C:\Users\Zach Barrett\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:371: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
C:\Users\Zach Barrett\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:392: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [55]:
print (X_submission.shape)

(418, 11)

In [56]:
# Dummy variable trap
print (X_submission[:, 0])
X_submission = np.delete(X_submission, obj = 0, axis = 1)

print (X_submission.shape)

[0. 1. 0. 1. 1. 1. 0. 1. 0. 1. 1. 1. 1. 1. 1. 0. 0. 0. 1. 0. 0. 1. 1. 0.
 0. 1. 0. 0. 1. 0. 1. 1. 1. 1. 0. 0. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 0. 0.
 0. 1. 1. 0. 1. 1. 0. 0. 1. 1. 1. 0. 1. 1. 1. 0. 0. 1. 0. 1. 0. 1. 0. 1.
 1. 0. 0. 0. 1. 1. 1. 0. 0. 1. 1. 1. 0. 0. 0. 1. 0. 1. 1. 1. 1. 1. 0. 1.
 1. 1. 1. 1. 0. 1. 0. 1. 0. 1. 0. 0. 1. 1. 0. 0. 0. 0. 1. 0. 0. 1. 0. 1.
 1. 0. 0. 1. 0. 1. 1. 0. 1. 1. 1. 0. 1. 0. 1. 1. 0. 1. 1. 1. 1. 1. 0. 1.
 1. 1. 1. 1. 1. 1. 0. 0. 1. 1. 1. 1. 1. 1. 1. 1. 0. 0. 1. 1. 1. 1. 0. 1.
 0. 1. 1. 0. 1. 0. 1. 1. 1. 0. 1. 0. 1. 0. 1. 0. 0. 1. 1. 1. 1. 1. 1. 1.
 1. 0. 1. 1. 0. 1. 1. 1. 0. 1. 0. 1. 1. 0. 0. 1. 0. 1. 1. 1. 1. 1. 1. 1.
 0. 1. 0. 1. 0. 1. 1. 1. 0. 0. 1. 0. 1. 1. 1. 1. 1. 0. 0. 1. 0. 0. 1. 0.
 0. 1. 0. 1. 1. 1. 1. 1. 1. 0. 1. 1. 0. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1.
 0. 1. 1. 1. 1. 1. 0. 0. 0. 0. 0. 1. 1. 1. 1. 1. 1. 1. 0. 0. 1. 1. 1. 1.
 0. 1. 1. 0. 0. 1. 1. 1. 0. 0. 1. 1. 1. 0. 1. 1. 0. 1. 1. 1. 1. 1. 1. 0.
 1. 0. 0. 0. 0. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 0. 1. 1. 1. 0. 0. 0. 1. 1.
 1. 0. 1. 0. 1. 1. 1. 0. 1. 1. 1. 0. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 0. 1.
 1. 0. 1. 1. 0. 1. 0. 1. 0. 0. 1. 0. 1. 1. 1. 0. 1. 1. 1. 1. 0. 0. 1. 1.
 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 0. 0. 1. 0. 1. 1. 0. 1. 0. 0. 1. 0.
 0. 1. 0. 0. 1. 1. 0. 1. 1. 0.]
(418, 10)

In [57]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_submission = sc.fit_transform(X_submission)

In [58]:
prediction = classifier.predict(X_submission)

In [59]:
submission = pd.DataFrame({"PassengerId": dataset_submission["PassengerId"], "Survived": prediction})

In [60]:
submission.to_csv('Predictions-XG.csv', index = False)